extends layout

block content
  h1 ERROR! 
  
  h1 The parameterization of the models were non-quantitative and thus the tropospheric ozone triggered a hypertensive meltdown
  
  //- pre #{error.stack}
