extends layout

block content
  //- h1 THIS IS OUR WALLABEE PAGE
  .whole
    .top
      .box1
        p.big CLICK HERE TO...
    .boxA
      span.link Go to space in three easy steps!!
      a(href='/nasa')
        img(src='https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/av_oa6_n2.jpg?itok=Ws0Imy3Y', alt='NASA')
    .boxB
      span.link Build a Tesla but better! 
      a(href='/tesla')
        img(src='https://www.teslamotors.com/tesla_theme/assets/img/support/model-s-red@2x-png8.png', alt='Tesla')
    .boxC
      span.link Become the next Sir Lancelot!
      a(href='/larp')
        img(src='https://upload.wikimedia.org/wikipedia/commons/d/d5/Hardenstein_2014_-_Adventurers.jpg')
